/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
img{border-style:none}
button,input,select,textarea{font:inherit;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End normalize.css extract */
/* Extract from w3.css 4.04 Apr 2017 by Jan Egil and Borge Refsnes */ 
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}
html,body{line-height:1.5}
html{overflow-x:hidden}
h1{font-size:2.25rem}
h2{font-size:1.875rem}
h3{font-size:1.5rem}
h4{font-size:1.25rem}
h5{font-size:1.125rem}
h6{font-size:1rem}
h1,h2,h3,h4,h5,h6{margin:0.5rem 0}
img{margin-bottom:-5px}
a{color:inherit}
/* End w3.css extract*/


/* fonts */
.montserrat {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
	font-weight: 400 !important;
}
.montserrat-light {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
	font-weight: 300 !important;
}
.josefin-sans {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
	font-weight: 400 !important;
}
.josefin-sans-light {
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif !important;
	font-weight: 300 !important;
}


/* colours */

.bg-white { background-color: #fff; }
.bg-charcoal-dark { background-color: #0b0b0b; }
.text-white { color: #fff; }
.text-charcoal-dark { color: #0b0b0b; }

/* page styles */

body, html {
    height: 100%;
    font-size: 12px;
}

@media (min-width: 481px){ 
	body, html { font-size: 14px; }
}

@media (min-width: 769px){
	body, html { font-size: 15px; }
}

@media (min-width: 1025px){
	body, html { font-size: 16px; }
}

.layout-area {
	position: relative;
	width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;  
}

#main-layout-area {
	background-image: url('bg1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.display-middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}

.display-bottommiddle {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
}

.layout-panel {

	text-align: center;
	display: block;
}

.layout-panel:before, .layout-panel:after {
	content: ""; 
	display: table; 
	clear: both; 
}


#title-panel {
	width: 320px;
	height: 180px;
	margin: 0;
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	padding: 0;
	z-index: 3;

	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0);

	-webkit-transition: box-shadow 0.35s, 
						border-bottom-color 0.25s 0.25s, border-left-color 0.25s 0.4s, border-right-color 0.25s 0.4s, border-top-color 0.25s 0.55s; /* Safari */
	transition: box-shadow 0.35s, 
				border-bottom-color 0.25s 0.25s, border-left-color 0.25s 0.4s, border-right-color 0.25s 0.4s, border-top-color 0.25s 0.55s;

}
#title-panel:hover {
	border-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.4);

	-webkit-transition: border-top-color 0.25s, border-left-color 0.25s 0.2s, border-right-color 0.25s 0.2s, border-bottom-color 0.25s 0.4s,
						box-shadow 0.45s 0.3s; /* Safari */
	transition: border-top-color 0.25s, border-left-color 0.25s 0.2s, border-right-color 0.25s 0.2s, border-bottom-color 0.25s 0.4s,
				box-shadow 0.45s 0.3s;

}

@media (min-width: 768px) {
	#title-panel { /*width: 30vw;*/ }
}

#title-video {
	width: 100%;
	height: 100%;
	z-index: 1;
}
#title-video video {
	width: 100%;
	height: 100%;
}

#title-text {
	font-size: 1.5rem;
	line-height: 2rem;
	z-index: 4;
}

#footer-panel {
	width: 90vw;
	margin: 0 0 1rem 0;
	border: 2px solid rgba(128, 128, 128, 0.2);
	border-radius: 3px;
	padding: 1rem;
	z-index: 3;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

	-webkit-transition: box-shadow 0.35s; /* Safari */
	transition: box-shadow 0.35s;
}
#footer-panel:hover {
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
}